[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Curso-RayDLC/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Curso-RayDLC/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Curso-RayDLC/orders-ms.git
